*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(202,216,227);
}
@media (min-width: 300px){
    .form-validation{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-validation > .form {
        width: 80%;
        background-color: rgb(119,135,153);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5vh;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .form-validation button {
        border: none;
        background-color: greenyellow;
        padding: 3%;
        width: 20vw;
        font-size: 20px;
    }
    .form-validation button:hover {
        background-color: green;
        color: white;
        cursor: pointer;
    }
    .form-validation div{
        background-color: rgb(119,135,153);
        display: flex;
        flex-direction: column;
        row-gap: 4vh;
    }
    .form-validation aside {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        background-color: rgb(119,135,153);
    }
    .form-validation input {
        width: 60vw;
        height: 5vh;
        border: none;
        background-color: white;
        padding-left: 2%;
        font-size: 10px;
    }
    .form-validation label {
        font-size: 15px;
        font-weight: 600;
        background-color: rgb(119,135,153);
    }    
}
@media(min-width: 750px) {
    .form-validation > .form {
        width: 60%;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    .form-validation button {
        padding: 2%;
        width: 12vw;
        font-size: 20px;
    }
    .form-validation label {
        font-size: 20px;
    }  
    .form-validation input {
        width: 40vw;
        height: 5vh;
    }
}
@media(min-width: 1200px){
    .form-validation > .form {
        width: 40%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .form-validation button {
        padding: 2%;
        width: 10vw;
        font-size: 20px;
    }
    .form-validation label {
        font-size: 20px;
    }  
    .form-validation input {
        width: 30vw;
        height: 5vh;
    }

}
