* {
    margin: 0;
    padding: 0;
}

#hangman {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

#start-screen {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        height: 60vh;
        width: 60vw;
        font-size: 90px;
        border-radius: 20px;
    }
}

.top-part,
.bottom-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
}

.subnav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    padding: 3px 0;
    gap: 10px;
}

.hint-section {
    font-size: 30px;
    height: 8vh;

    button {
        font-size: 30px;
    }
}

#letters {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;

    button {
        width: 10%;
        background-color: skyblue;
        border-radius: 5px;
    }

    .clicked {
        background-color: grey;
    }
}

#answer-section {
    height: 10vh;
    font-size: 8vh;
    letter-spacing: 3vw;
}

.middle-part {
    display: flex;
    flex-direction: row;
    column-gap: 3vw;
}

.life-count {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
    text-align: center;
    width: 30%;

    span {
        width: 80%;
        border-bottom: 1px solid black;
    }

    p,
    #timerNumber {
        font-size: 40px;
    }
}

.life {
    font-size: 40px;
}

.alphabets {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;

    p {
        font-size: 20px;
    }
}

#next-btn {
    font-size: 30px;
}